---- reset ----

  html {
    box-sizing: border-box;
  }
  /* *, *:before, *:after {
    box-sizing: inherit; */
  }
  
  body {

  }
  
   p {
    margin: 0;
  }
    
  html, body {
    height: 100%;
  }
  
  .game-container {
    margin: 0 40px;
    
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;

    }
  }
  
  
  /* ---- components ---- */
  
  .game-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game-container header {
    height: 50px;
    display: flex;
    align-items: flex-start;
  }
  
  .game-container .lives {
    /* flex: 1; */
  }
  
  .game-container .score {
    /* flex: 1; */
  }
  
  .game-container .label {
    font-weight: bold;
  }
  
  .game-container .value {
    font-style: italic;
    border: 3px black;
  }
  
  .game-container .canvas-container {
    flex: 1;
 }

  .canvas-container {
    border: 40px red;
    max-width: 800px;
 }